@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
    --Grey900: hsl(0, 0%, 8%);
}


body {
    margin: 0;
    background-color: var(--Grey900);
}
.card {
    width: 14rem;
    background-color: var(--Grey800);
    margin: 10rem auto;
    border-radius: 15px;
    padding: 1.9rem;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: var(--White);
}
.avatar {
    border-radius: 50%;
    width: 25%;
}
.name {
    font-weight: 700;
    margin-bottom: 0;
}
.brief {
    font-size: .67rem;
    color: hsl(0, 0%, 70%);
}
.location {
    margin: 0;
    color: var(--Green);
    font-size: .67rem;
    font-weight: 700;
    padding-bottom: 1rem;
    padding-top: .4rem;
}
.btns {
    padding-top: 1rem;
}
button {
    width: 100%;
    font-weight: 700;
    font-size: .7rem;
    color: white;
    background-color: var(--Grey700);
    border: none;
    border-radius: 5px;
    padding: .7rem .9rem;
    margin-bottom: .7rem;
}
.insta {
    margin: 0;
}
button:hover {
    background-color: var(--Green);
    color: var(--Grey800);
}