:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
    --Grey900: hsl(0, 0%, 8%);
}


body {
    background-color: var(--Grey900);
}
.card {
    width: 17vw;
    height: 65vh;
    background-color: var(--Grey800);
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    border: none;
    border-radius: 15px;
    padding: 35px;
    padding-bottom: 25px;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar {
    border: none;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-bottom: 5px;
}
.name {
    font-weight: 700;
    margin-bottom: 7px;
}
.brief {
    font-size: 12px;
    color: hsl(0, 0%, 70%);
}
.location {
    margin-top: 0;
    color: var(--Green);
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 15px;
}
.btns {
    margin-top: 20px;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
button {
    width: inherit;
    font-weight: 700;
    font-size: 12px;
    color: white;
    background-color: var(--Grey700);
    border: none;
    border-radius: 5px;
    padding: 15px;
}
button:hover {
    background-color: var(--Green);
    color: var(--Grey800);
}
@media only screen and (max-width: 768px) {
    .card {
        width: 70vw;
    }
}